<nav>
    <a href="/home">Home</a>
    <div>
        <a href="/info" class="dropdown">Info</a>
        <div class="dropdownContent">
            <a href="/info/about">About</a>
            <a href="/info/routine">Daily Routine</a>
            <a href="/info/medications">Medications</a>
            <a href="/info/places">Places</a>
            <a href="/info/training">Training</a>
            <a href="/info/medical">Medical History</a>
        </div>
    </div>
    <a href="/gallery">Gallery</a>
</nav>