<nav>
    <a href="/">Home</a>
    <div class="dropdown">
        <button class="dropButton" onclick="myFunction()">Info
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/info/about">About</a>
            <a href="/info/routine">Daily Routine</a>
            <a href="/info/medications">Medications</a>
            <a href="/info/places">Favorite Places</a>
            <a href="/info/training">Training</a>
            <a href="/info/medical">Medical History</a>
        </div>
    </div>
    <a href="/gallery">Gallery</a>
</nav>