<nav>
    <div class="hamburger" id="hamburger-icon">
        &#9776;
    </div>

    <div class="nav-links" id="nav-links">
        <a href="/home">Home</a>
        <div class="dropdown">
            <a href="/about" class="dropdown-link">About</a>
            <div class="dropdown-content" id="dropdown-content">
                <a href="/about/personality">Personality</a>
                <a href="/about/favorites">Favorites</a><a href="/about/routine">Daily Routine</a>
                <a href="/about/medications">Medications</a>
                <a href="/about/training">Training</a>
                <a href="/about/medical">Medical History</a>
            </div>
        </div>
        <a href="/gallery">Gallery</a>
    </div>
</nav>