<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script defer src="/js/nav.js"></script>
    <title>Home</title>

</head>

<body>
    <%- include('./partials/_navbar.ejs') %>

        <h1>Phoebe</h1>
        <div id="snowImages">
            <img src="images/snow1.jpg"
                alt="A black dog with brown eyes stands in the snow in a light brown jacket and stares up at the camera.">
            <img src="images/snow2.jpg"
                alt="A black dog with brown eyes stands in the snow in a light brown jacket and stares slightly to the right of the camera.">
            <img src="images/snow3.jpg"
                alt="A black dog with brown eyes stands in the snow in a light brown jacket and stares to the right of the camera.">
        </div>
</body>

</html>