@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

html {
    margin: 0;
}

body {
    font-family: 'Italiana', sans-serif;
    letter-spacing: .2em;
    margin: 0;
}

h1 {
    font-size: 6em;
    margin: 10px;
}

p,
h2,
h5 {
    margin: 15px;
}

p {
    font-family: 'Lora';
    font-style: italic;
}

ul {
    font-family: 'Lora';
    font-size: .8em;
    list-style-type: circle;
}

a:visited,
a:link {
    text-decoration: none;
    color: black;
}

/* home.ejs image styling */

#snowImages {
    display: flex;
    justify-content: space-between;
}

#snowImages img {
    display: block;
    height: 80vh;
    border-radius: 10px;
    margin: 0 auto;
    padding: .2em;
}

/* gallery.ejs image styling */

#galleryImages {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#galleryImages img {
    height: 80vh;
    border-radius: 10px;
    margin: .2em;
    padding: .2em;
}

/* nav styling (default layout)*/
nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    font-size: 1em;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links a {
    margin: 0 10px;
    color: white;
}

/* dropdown menu styles */
.dropdown {
    position: relative;
}

.dropdown-link {
    padding: 10px;
}

.dropdown-content {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: black;
    width: 200px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* show the dropdown when hovering over the dropdown container */
.dropdown:hover .dropdown-content {
    visibility: visible;
    opacity: 1;
    margin-top: 10px;
}

.dropdown-content a {
    display: block;
    padding: 10px;
    color: white;
    background-color: black;
    text-align: left;
    margin: 0;
}

/* add hover effect to dropdown options */
.dropdown-content a:hover {
    background-color: #333;
}

/* table settings */

#table {
    margin: 10px;
}

table {
    border: 1px solid black;
    margin: .2em;
    padding: 10px;
    border-radius: 4px;
}

th {
    background-color: gray;
    font-size: larger;
    padding: 10px;
}

td {
    background-color: lightgray;
    font-family: 'Lora';
    font-size: 12px;
    letter-spacing: 1px;
    padding: 10px;
}

/* mobile styling */
@media (max-width: 768px) {
    .hamburger {
        display: block;
        color: white;
    }

    .nav-links {
        max-height: 0;
        overflow: hidden;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        transition: max-height 1s ease, opacity 0.8s ease;
        opacity: 0;
    }

    .nav-links a {
        text-align: center;
        padding: 10px;
        color: white;
        margin: 5px 10px;
    }

    .nav-links.active {
        max-height: 1000px;
        opacity: 1;
    }

    .dropdown-content {
        display: none;
        flex-direction: column;
        position: relative;
        max-height: none;
        width: 100%;
        margin-top: 5px;
    }

    /* show dropdown content when active */
    .dropdown-content.active {
        display: flex;
    }

    .dropdown-content a {
        text-align: left;
        padding: 10px 40px 10px;
    }

    nav {
        /* padding is still weird on the right compared to the left */
        padding: 10px 0 10px 1em;
        /* Adjust the padding of the nav bar to match the images */
        justify-content: space-between;
        /* width: 100%; */
    }

    #snowImages {
        flex-wrap: wrap;
        padding: 0 1em;
    }

    #snowImages img {
        display: block;
        width: 100%;
        height: auto;
        margin-bottom: 1em;
    }

    #galleryImages img {
        height: 40vh;
        margin: 1em;
    }
}

/* larger screen styling */
@media (min-width: 769px) {
    .dropdown-content {
        display: none;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }
}