@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Quicksand:wght@300..700&display=swap');

html {
    margin: 0;
}

body {
    font-family: 'Italiana', sans-serif;
    letter-spacing: .2em;
}

h1 {
    font-size: 6em;
    margin: 10px;
}

/* img styling */

#snowImg {
    display: block;
    width: calc(100% - 2em);
    /* Ensures the images take up full width minus padding */
    margin: 0 auto;
    /* Centers the images */
    border-radius: 12px;
    padding: .4em;
}

#snowImages {
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    /* padding: 0 1em; */
    /* Adds equal padding on both sides */
        flex-wrap: wrap;
}

#snowImages img {
    /* width: 100%; */
    /* Makes sure each image takes full width of the container */
    height: 80vh;
    border-radius: 10px;
    margin-bottom: 1em;
    /* Space between images */
    border-radius: 10px;
}

/* nav styling (default layout)*/
nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    font-size: 1em;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links a {
    margin: 0 10px;
    color: white;
}

/* dropdown menu styles */
.dropdown {
    position: relative;
}

.dropdown-link {
    padding: 10px;
}

.dropdown-content {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: black;
    width: 200px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* show the dropdown when hovering over the dropdown container */
.dropdown:hover .dropdown-content {
    visibility: visible;
    opacity: 1;
    margin-top: 10px;
}

.dropdown-content a {
    display: block;
    padding: 10px;
    color: white;
    background-color: black;
    text-align: left;
    margin: 0;
}

/* add hover effect to dropdown options */
.dropdown-content a:hover {
    background-color: #333;
}

/* mobile styling */
@media (max-width: 768px) {
    .hamburger {
        display: block;
        color: white;
    }

    .nav-links {
        max-height: 0;
        overflow: hidden;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        transition: max-height 1s ease, opacity 0.8s ease;
        opacity: 0;
    }

    .nav-links a {
        text-align: center;
        padding: 10px;
        color: white;
        margin: 5px 10px;
    }

    .nav-links.active {
        max-height: 1000px;
        opacity: 1;
    }

    .dropdown-content {
        display: none;
        flex-direction: column;
        position: relative;
        max-height: none;
        width: 100%;
        margin-top: 5px;
    }

    /* show dropdown content when active */
    .dropdown-content.active {
        display: flex;
    }

    .dropdown-content a {
        text-align: left;
        padding: 10px 40px 10px;
    }

    #snowImg {
        display: block;
        width: calc(100% - 2em);
        /* Ensures the images take up full width minus padding */
        margin: 0 auto;
        /* Centers the images */
        border-radius: 10px;
    }

    #snowImages {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0 1em;
        /* Adds equal padding on both sides */
    }

    #snowImages img {
        width: 100%;
        /* Makes sure each image takes full width of the container */
        height: auto;
        margin-bottom: 1em;
        /* Space between images */
        border-radius: 10px;
    }

    nav {
        /* padding is still weird on the right compared to the left */
        padding: 10px 0 10px 1em;
        /* Adjust the padding of the nav bar to match the images */
        justify-content: space-between;
        /* width: 100%; */
    }
}

/* larger screen styling */
@media (min-width: 769px) {
    .dropdown-content {
        display: none;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }
}