<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script defer src="/js/nav.js"></script>
    <title>Personality</title>
</head>

<body>
    <%- include('../partials/_navbar.ejs') %>

        <h1>The Basics</h1>
        <br>
        <div class="container">
            <div class="pContainer">
                <p>
                    <b>Birthday:</b> 11/26/23
                </p>
                <br>
                <p>
                    <b>Weight:</b> 39 lb
                </p>
                <br>
                <p>
                    <b>Color:</b> black & brindle (plus little bits of white here and there)
                </p>
                <br>
                <p>
                    <b>Favorite tv show:</b> Friends (minus all the homophobia, transphobia, racism, etc.)
                </p>
                <br>
                <p>
                    <b>Favorite outfit:</b> Carhart canvas jacket 
                </p>
                <br>
                <p>
                    <b>Favorite treat:</b> pup cups
                </p>
                <br>
                <p>
                    <b>Name inspiration:</b> Black Phoebe (the bird) & Phoebe Light (the poem by Alice Notley)
                </p>
                <br>
                <p>
                    100% goofball, sweetie pie, lover puppy
                </p>
            </div>
            <br>
            <div id="personalityImages">
                <img src="/images/embark.jpg" alt="">
            </div>
        </div>


</body>

</html>