<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script defer src="/js/nav.js"></script>
    <title>Favorites</title>
</head>

<body>
    <%- include('../partials/_navbar.ejs') %>

    <h1>Favorites</h1>
    <br>
    <p>All list items below are clickable links.</p>
    <h2>Snacks</h2>
    <ul>
        <li><a href="https://www.chewy.com/royal-canin-veterinary-diet/dp/35621">Royal Canin Hydrolyzed protein kibble (rx required)</a></li>
        <li><a href="https://www.chewy.com/royal-canin-veterinary-diet-adult/dp/33960">Royal Canin Hydrolyzed protein wet food (rx required)</a></li>
        <li><a href="https://www.chewy.com/royal-canin-veterinary-diet-adult/dp/128000">Royal Canin Hydrolyzed protein treats (rx required)</a></li>
        <li><a href="https://www.chewy.com/zukes-mini-naturals-peanut-butter/dp/1093982">Zuke's peanut butter treats</a></li>
        <li><a href="https://www.chewy.com/jiminys-cricket-cookie-pumpkin-carrot/dp/226895"></a>Jiminy's cricket pumkin & carrot treats</li>
        <li><a href="https://www.amazon.com/Cloud-Star-Trainers-Crunchy-Training/dp/B08NC9DNFQ?ref_=ast_sto_dp&th=1">Cloud Star Tricky Trainers crunchy cheese treats</a></li>
        <li><a href="https://www.costco.com/Caledon-Farms-Sweet-Potato-Chews-for-Dogs,-32-oz,-2-pack.product.1733971.html">Sweet potato chews</a></li>
        <li><a href="https://www.traderjoes.com/home/products/pdp/creamy-peanut-butter-unsalted-001487">Peanut butter</a></li>
        <li><a href="https://www.starbucks.com/store-locator?map=45.51826,-122.675535,12z&place=Portland,%20OR,%20USA">Starbucks pup cups</a></li>
    </ul>
    <br>
    <h2>Enrichment</h2>
    <ul>
        <li><a href="https://www.amazon.com/Himalayan-Quality-Natural-Odorless-Enjoying/dp/B07JDYXQ87/ref=sr_1_1_sspa?crid=SK312YS2CBYB&dib=eyJ2IjoiMSJ9._Bf867jdTNUSI7aogf8ByH8uF_4YKqzCCpKFg9i0XqeSEyXYbPA-m3C2tLuJPpdKk6Jh2ITHJKmrYPvD8P5l3LU78-ILChGfPl8vdXT2TQH2jxGus1eVwjQvaAW2-UPQ-I4XzJ0HGdNsBAkNqlpOVuzpTbqPf8Tct-s6clGcmfqASTmI6hrl9bAk8btRlzHZAoX_9xL6cu1-7Pm85n7dFZ-fMIE8afKQmCA1TWzfXONZdUaBd8O3wWOCQcRkGR6kqOx5h_r_O7dxFe67nPP6-oNxQhPgi7TSzKUAfAVOCmQ.BZrOMenL3ulbQuR1i5lIpe9aR4zpb0fREep_xmALyCw&dib_tag=se&keywords=yak%2Bcheese%2Bhimalayan%2Bdog%2Bchews&qid=1740967319&rdc=1&sprefix=yak%2Bch%2Caps%2C187&sr=8-1-spons&sp_csd=d2lkZ2V0TmFtZT1zcF9hdGY&th=1">EcoKind yak chews</a></li>
        <li><a href="https://www.chewy.com/outward-hound-non-skid-plastic-slow/dp/113714?utm_source=google-product&utm_medium=cpc&utm_campaign=20207612288&utm_content=&gad_source=1&gclid=Cj0KCQiAoJC-BhCSARIsAPhdfShSaqlOpkqnAftt7vwxHOENHp6yKChWaJkNQ1eHcufxOsEDs4y5zKcaApszEALw_wcB">Outward Hound slow feeder</a></li>
        <li><a href="https://www.chewy.com/kong-classic-dog-toy/dp/38483?utm_source=google-product&utm_medium=cpc&utm_campaign=19996370614&utm_content=&gad_source=1&gclid=Cj0KCQiAoJC-BhCSARIsAPhdfSjr7JmClCsEEZqkjouXuVU_AKtbKDI143gVBZUoegs38fNLAUbsC58aAjgqEALw_wcB">Kong classic</a></li>
        <li><a href="https://www.chewy.com/west-paw-zogoflex-toppl-tough-treat/dp/848006?utm_source=google-product&utm_medium=cpc&utm_campaign=19996370614&utm_content=&gad_source=1&gclid=Cj0KCQiAoJC-BhCSARIsAPhdfShu0JKHMglNP_i_mj9LD6eQ0lJ29k_cGTpebQDu9D4RwIBMtIKZzQMaAq4iEALw_wcB">West Paw Zogoflex toppl toy (large/xl)</a></li>
        <li><a href="https://www.chewy.com/pet-parents-forager-snuffle-mat-slow/dp/505542?utm_source=google-product&utm_medium=cpc&utm_campaign=20207612288&utm_content=&gad_source=1&gclid=Cj0KCQiAoJC-BhCSARIsAPhdfShOMyJAAI5bhK1r8sqlL60c1A1hPkzBSKx2yclm-LQx5Ow_apMuxPkaAsl_EALw_wcB">Pet Parents Forager snuffle mat</a></li>
        <li><a href="https://www.chewy.com/planet-dog-orbee-tuff-snoop-treat/dp/103060">Outward Hound Orbee-Tuff treat dispenser</a></li>
    </ul>
    <br>
    <h2>Toys</h2>
    <ul>
        <li><a href="https://www.chewy.com/frisco-fetch-colorful-ball-knot-rope/dp/268647">Rope toys</a></li>
        <li><a href="https://www.walmart.com/ip/Kong-Play-Pack-Dog-Toys-4-Pack/13440820371?wmlspartner=wlpa&selectedSellerId=101030291&wmlspartner=wlpa&cn=FY25-ENTP-PMAX_cnv_dps_dsn_dis_ad_entp_e_n&gclsrc=aw.ds&adid=2222222229713440820371_101030291_0000000000_21407473164&wl0=&wl1=x&wl2=c&wl3=&wl4=&wl5=9032944&wl6=&wl7=&wl8=&wl9=pla&wl10=256317213&wl11=online&wl12=13440820371_101030291&veh=sem&gad_source=1&gclid=Cj0KCQiAoJC-BhCSARIsAPhdfSjLt8KsqNrFyYyteQjquZp6_2_q-nppWjpg7vT_dBnVNPqNNnUvpM0aAl6PEALw_wcB">Kong Play Pack (rope toys inside each for durability)</a></li>
        <li><a href="https://store.ezydog.com/dogstar-flying-disc/?gad_source=1&gclid=Cj0KCQiAoJC-BhCSARIsAPhdfSiBgyk3CQDy-sc6C1pxin07zPkd0JGH7Te2akLk1O10bQFsuDH3LcIaArmQEALw_wcB">EzyDog frisbee</a></li>
        <li><a href="https://www.amazon.com/DIBBATU-Interactive-Outdoor-Exercise-Training/dp/B08PNTDJ7B/ref=sr_1_1_sspa?crid=2C98SWCYU90K1&dib=eyJ2IjoiMSJ9.SQL27CpBeVybYtejlLM6cxSMx4DJwU-_3hFvfgd39Jj6lupdjYifYBIyeVRWBBhy9NvUv15SYF9dttuP5dUZabFhkCdbw7goGdHm71StCweNXb4a-zGqknSWjqn6ytVDuGy93kiXBwKXjmACnH3XOhtbQDl-dVE1erdUsmZvX5JIBmbvIq4j83KrhgoueKT1Hbk9WM_v-JV77jNARRYX37RgiHdpDG_qX52Vf5u0_aOP6k1_sOo6r1Q7b4PcrOvOVl_PliebgrE36oQBbxEvrzwE3_Cn6q1hxqD98Z8cuZQ._7320MllWwKgtNUR-mOWnijkUJfnhBwO6bNG7glmdw8&dib_tag=se&keywords=flirt%2Bpole%2Bfor%2Bdogs&qid=1740967239&sprefix=flirt%2Bpole%2Caps%2C207&sr=8-1-spons&sp_csd=d2lkZ2V0TmFtZT1zcF9hdGY&th=1">Flirt pole</a></li>
        <li><a href="https://www.chewy.com/chuckit-ultra-rubber-ball-tough-dog/dp/38371">Chuckit! balls</a></li>
    </ul>
    <br>
    <h2>Places to Go</h2>
    <ul>
        <li><a href="https://www.google.com/maps/place/columbia+children's+arboretum/data=!4m2!3m1!1s0x5495a641208f8d0d:0xd89a134366bab525?sa=X&ved=1t:155783&ictx=111">Columbia Children's Arboretum</a></li>
        <li><a href="https://www.google.com/maps/place/Thousand+Acres+Rd,+Oregon+97060/@45.5450373,-122.3799468,17z/data=!3m1!4b1!4m6!3m5!1s0x5495bd5c301998b1:0x8a1e8d8708f9b773!8m2!3d45.5450336!4d-122.3773719!16s%2Fg%2F1vrq9brr?entry=ttu&g_ep=EgoyMDI1MDIyNi4xIKXMDSoASAFQAw%3D%3D">1000 Acres</a></li>
        <li><a href="https://maps.app.goo.gl/brqJPdBCVMwDVJSn7">Powell Butte (Ellis St trailhead)</a></li>
        <li><a href="https://www.rover.com/members/anastasia-m-not-a-home-without-a-fur-baby/">Anastasia M's Rover day care</a></li>
        <li><a href="https://www.sniffspot.com/listings/portland-or/zach-s-2-acre-forested-pooch-path-creek-87498">Zach's 2 Acre Forrested Sniffspot</a></li>
    </ul>
</body>

</html>