<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script defer src="/js/nav.js"></script>
    <title>Medications</title>

</head>

<body>
    <%- include('../partials/_navbar.ejs') %>

    <h1>Medications</h1>

    <h5>Phoebe is on a variety of medications and supplements for food allergies and related symptoms, anxiety, and potential pain.</h5>

    <table id="table" style="width:80%">
        <!-- tr = table row -->
        <!-- th = table header -->
        <!-- td = table data -->
        <tr>
            <th style="width:30%">Medication/Supplement</th>
            <th style="width:30%">Dosage</th>
            <th style="width:30%">Time</th>
        </tr>
        <tr>
            <td>Royal Canin Hydrolyzed Dog Kibble</td>
            <td>2.5 cups/day</td>
            <td>Larger meal with 6am and 6pm meds; spread throughout the day otherwise</td>
        </tr>
        <tr>
            <td>Psyllium Husk Powder</td>
            <td>1 tsp 1x/day</td>
            <td>6 am</td>
        </tr>
        <tr>
            <td>Visbiome Probiotic</td>
            <td>1/2 packet 1x/day</td>
            <td>6 am</td>
        </tr>
        <tr>
            <td>Solliquin</td>
            <td>1 chew 1x/day</td>
            <td>6 am</td>
        </tr>
        <tr>
            <td>Clonidine</td>
            <td>7.5mg 3x/day</td>
            <td>6 am, 2 pm, 10 pm</td>
        </tr>
        <tr>
            <td>Gabapentin</td>
            <td>600mg 3x/day</td>
            <td>6 am, 2 pm, 10 pm</td>
        </tr>
        <tr>
            <td>Carprovet</td>
            <td>35.5mg 2x/day</td>
            <td>6 am, 6 pm</td>
        </tr>
        <tr>
            <td>Fluoxetine</td>
            <td>16mg 1x/day</td>
            <td>6 pm</td>
        </tr>
        <tr>
            <td>Wellactin</td>
            <td>TBD</td>
            <td>TBD</td>
        </tr>
    </table>

    <table id="table" style="width:80%">
        <tr>
            <th style="width:30%">Time</th>
            <th style="width:30%">Meds</th>
            <th style="width:30%">Notes</th>
        </tr>
        <tr>
            <td>6 am</td>
            <td>Clonidine, gabapentin, carprovet, psyllium powder, visbiome probiotic, solliquin chew</td>
            <td>Mix psyllium and visbiome with cold water, add 1/4 cup of kibble, add the rest of the meds.</td>
        </tr>
        <tr>
            <td>2 pm</td>
            <td>Clonidine, gabapentin</td>
            <td>Give with a handful of kibble.</td>
        </tr>
        <tr>
            <td>6 pm</td>
            <td>Carprovet, fluoxetine</td>
            <td>Give with food. Typically this is when we give Phoebe a frozen enrichment toy for dinner.</td>
        </tr>
        <tr>
            <td>10 pm</td>
            <td>Clonidine, gabapentin</td>
            <td>Give with a handful of kibble.</td>
        </tr>
    </table>
</body>

</html>