<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script defer src="/js/nav.js"></script>
    <title>Medications</title>

</head>

<body>
    <%- include('../partials/_navbar.ejs') %>

    <h1>Medications</h1>

    <table>
        <!-- tr = table row -->
        <!-- th = table header -->
        <!-- td = table data -->
        <tr>
            <th>Medication/Supplement</th>
            <th>Dosage</th>
            <th>Time</th>
        </tr>
        <tr>
            <td>Clonidine</td>
            <td>7.5mg 3x/day</td>
            <td>6 am, 2 pm, 10 pm</td>
        </tr>
        <tr>
            <td>Gabapentin</td>
            <td>600mg 3x/day</td>
            <td>6 am, 2 pm, 10 pm</td>
        </tr>
        <tr>
            <td>Clonidine</td>
            <td>7.5mg 3x/day</td>
            <td>6 am, 2 pm, 10 pm</td>
        </tr>
        <tr>
            <td>Clonidine</td>
            <td>7.5mg 3x/day</td>
            <td>6 am, 2 pm, 10 pm</td>
        </tr>
        <tr>
            <td>Clonidine</td>
            <td>7.5mg 3x/day</td>
            <td>6 am, 2 pm, 10 pm</td>
        </tr>
        <tr>
            <td>Clonidine</td>
            <td>7.5mg 3x/day</td>
            <td>6 am, 2 pm, 10 pm</td>
        </tr><tr>
            <td>Clonidine</td>
            <td>7.5mg 3x/day</td>
            <td>6 am, 2 pm, 10 pm</td>
        </tr><tr>
            <td>Clonidine</td>
            <td>7.5mg 3x/day</td>
            <td>6 am, 2 pm, 10 pm</td>
        </tr>
    </table>
</body>

</html>