<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script defer src="/js/nav.js"></script>
    <title>Medical History</title>
</head>

<body>
    <%- include('../partials/_navbar.ejs') %>

    <h1>Medical History</h1>
    <br>
    <!-- <h2>Header here if needed</h2> -->
    <div id="medContainer">
        <div id="medical">
            <p>We’ve worked closely with Dr. Brittany Lauman at Brooklyn Yard Veterinary Hospital over the last year with Phoebe. The
            team at Brooklyn Yard is wonderful and super committed to Phoebe’s success.</p>
            <br>
            <p>Shortly after we adopted Phoebe, she started having severe diarrhea regularly. We put her on several bland diets (rice
            and various meats) before determining that she is intolerant of meat products. She has done well on a hydrolyzed protein
            diet with only plant-based treats. She can tolerate a limited amount of dairy.</p>
            <br>
            <p>Over the last year, we’ve monitored some postural concerns. We noticed that Phoebe’s front legs knuckle, and she
            sometimes shows a slight preference for her back left leg over her right and limps slightly. Phoebe was evaluated by Dr.
            Roberto Novo at BluePearl Pet Hospital and he suggested that we continue to monitor the situation. Some of Phoebe’s behaviors
            (noise sensitivity, growling when moved, jumpy greetings) have indicated the possibility that she could be experiencing
            some underlying, undiagnosed pain. Recent x-rays came back normal, but we still wonder if there could be a neurological
            or orthopedic issue contributing to some of Phoebe’s challenges.</p>
            <br>
        </div>
        <div id="medImages">
            <img src="/images/brooklyn-yard-logo.png" alt="" id="brooklynYard">
            <img src="/images/blue-pearl-logo.jpg" alt="" id="bluePearl">
        </div>
    </div>
</body>

</html>