<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script defer src="/js/nav.js"></script>
    <title>Personality</title>
</head>

<body>
    <%- include('../partials/_navbar.ejs') %>

    <h1>Personality</h1>
    <br>
    <div class="container">
        <div class="pContainer">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit labore ut atque temporibus amet quidem
                veniam laborum maxime quasi. Nam sapiente minus tempore nisi a esse ratione minima, expedita quo!
            </p>
        </div>
        <br>
        <div id="personalityImages">
            <img src="/images/personality.jpg" alt="">
            <img src="/images/personality4.jpg" alt="">
            <img src="/images/personality6.jpg" alt="">
            <img src="/images/personality8.jpg" alt="">
        </div>
    </div>
    

</body>

</html>