<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script defer src="/js/nav.js"></script>
    <title>Personality</title>
</head>

<body>
    <%- include('../partials/_navbar.ejs') %>

    <h1>Personality</h1>
    <br>
    <div class="container">
        <div class="pContainer">
            <p>
                Phoebe is spunky, playful, and fun-loving. Once she’s established some trust—which doesn’t take long—she loves to snuggle. She LOVES morning cuddles and is a great couch buddy. She loves her people and wants to be close. She'll greet you with a big wiggle and give you a hug too. 
            </p>
            <p>
                Phoebe is so playful, especially with other dogs. Spending time with other dogs is a great physical and emotional outlet for Phoebe—she appears to gain confidence and relax significantly. At home, she loves to play with her toys alone or with a you!  
            </p>
            <p>
                Phoebe loves her people. She can be wary of strangers but warms up quickly. She is very gentle with babies, though has less experience with young kids (and she’s been spooked by them on a couple occasions.) When she's scared, she often barks and then retreats to her own space. 
            </p>
            <p>
                Phoebe is a very fast learner and is extremely treat-motivated. She loves to get in training mode, connect to her person, and practice commands. When she feels safe, she loves to explore and adventure with her companion. She definitely loves a good sniffari! She is a keen and curious observer of her environment. 
            </p>
            <p>
                Lastly, Phoebe is incredibly cute. Next level cute. And so soft. Brindle baby cutie pie puppy. 
            </p>
        </div>
        <br>
        <div id="personalityImages">
            <img src="/images/personality6.jpg" alt="">
            <img src="/images/personality8.jpg" alt="">
        </div>
    </div>
    

</body>

</html>