<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script defer src="/js/nav.js"></script>
    <title>Daily Routine</title>
</head>

<body>
    <%- include('../partials/_navbar.ejs') %>

        <h1>Daily Routine</h1>
        <p>Below is a typical daily routine for Phoebe. It changes based on our schedules and Phoebe's anxiety levels.</p>
        <h2>6:00 am</h2>
        <ul>
            We wake Phoebe up for meds and breakfast, let her outside to go to the bathroom, and then she either walks herself back to her crate or to the couch to go back to bed.
        </ul>
        <h2>11:00 am</h2>
        <ul>
            If Phoebe was sleeping in her crate overnight, she usually moves to the couch eventually and snoozes there until her most active period of the day starts between 10:30 and 11:00 am. This is when we plan a daily activity for her--typically either a long walk, time at Anastasia's day care, or lots of play/training/enrichment activities at home.
        </ul>
        <h2>2:00 pm</h2>
        <ul>
            Phoebe gets her afternoon meds and then we try and support her in regulating/calming down until she conks out on the couch for her afternoon nap.
        </ul>
        <h2>6:00 pm</h2>
        <ul>
            Phoebe gets her evening meds and dinner (in the form of an enrichment activity like a frozen slow feeder or toppl toy). After dinner, we play and/or train together.
        </ul>
        <h2>8:00 pm</h2>
        <ul>
            Typically Phoebe starts to wind down on the couch for bed around this time.
        </ul>
        <h2>10:00 pm</h2>
        <ul>Meds, quick bathroom break, then bedtime!</ul>
</body>

</html>