<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script defer src="/js/nav.js"></script>
    <title>Training</title>
</head>

<body>
    <%- include('../partials/_navbar.ejs') %>

        <h1>Training</h1>
        <p>Description here if needed.</p>
        <h2>Header here if needed</h2>

</body>

</html>