<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script defer src="/js/nav.js"></script>
    <title>Training</title>
</head>

<body>
    <%- include('../partials/_navbar.ejs') %>

    <h1>Training</h1>
    <p>All classes below are clickable links.</p>
    <h2>Classes</h2>
    <ul>
        <li><a href="https://www.wonder-puppy.com/social-1">Puppy Socials @ Wonder Puppy</a></li>
        <li><a href="https://www.urbanpawsibilities.com/puppy-group-classes">Puppy Preschool with Meaghan @ Urban
                Pawsibilities</a></li>
        <li><a href="https://www.urbanpawsibilities.com/group-dog-training-classes">Green Dog with Emma @ Urban
                Pawsibilities</a></li>
        <li><a href="">Teenage Mayhem with Brie @ Noble Woof</a></li>
        <li><a href="https://www.urbanpawsibilities.com/private-dog-training">Private Separation Anxiety training with
                Meaghan @ Urban Pawsibilities</a></li>
    </ul>
    <br>
    <h2>Cues</h2>
    <table id="table" style="width:80%">
        <tr>
            <th style="width:30%">Cue</th>
            <th style="width:70%">Description</th>
        </tr>
        <tr>
            <td>Yes</td>
            <td>Indicates any positive behavior and immediately followed by a treat</td>
        </tr>
        <tr>
            <td>Touch</td>
            <td>Hold your hand out at Phoebe's nose-level, cueing Phoebe to nose boop your hand</td>
        </tr>
        <tr>
            <td>Come</td>
            <td>Use this in conjunction with "touch" (above) so when Phoebe returns to you, she'll nose boop your hand and then get a treat</td>
        </tr>
        <tr>
            <td>Sit</td>
            <td>Self explanatory :)</td>
        </tr>
        <tr>
            <td>Down</td>
            <td>Belly on the ground</td>
        </tr>
        <tr>
            <td>Off</td>
            <td>Used when Phoebe jumps up (on someone, on a counter, etc.), indicating she should have four paws on the ground</td>
        </tr>
        <tr>
            <td>Up</td>
            <td>Indicates that Phoebe should jump up on a raised surface (the couch, or a bench at the park, etc.)</td>
        </tr>
        <tr>
            <td>Paw</td>
            <td>Hold your hand out towards Phoebe and she'll place her paw on your hand (helpful for nail trimming desensitization, and used with her scratchboard)</td>
        </tr>
        <tr>
            <td>Leave it</td>
            <td>Indicates Phoebe should not pick up something she's about to pick up (used proactively, unlike "drop it")</td>
        </tr>
        <tr>
            <td>Drop it</td>
            <td>Indicates Phoebe should drop whatever she has in her mouth (used reactively, unlike "leave it")</td>
        </tr>
        <tr>
            <td>Find it</td>
            <td>Toss a treat on the ground for Phoebe to find (ideal distraction tool, though not to be confused with "go sniff" which is meant to be more of a challenge for her)</td>
        </tr>
        <tr>
            <td>Go sniff</td>
            <td>Toss treats for Phoebe to "go sniff" and find/eat (used as a distraction and as a calming task, though not to be confused with "find it" which is meant to be a little easier for her)</td>
        </tr>
        <tr>
            <td>Crate</td>
            <td>Indicates Phoebe should go to her crate</td>
        </tr>
        <tr>
            <td>Place</td>
            <td>Indicates Phoebe should go to any of her identified places (mat on the floor, dog bed, even her crate)</td>
        </tr>
        <tr>
            <td>Wait</td>
            <td>Indicates Phoebe should remain wherever she is for a short period of time before getting a treat as a reward (not to be confused with "stay", which Phoebe hasn't practiced and is for longer duration)</td>
        </tr>
        <tr>
            <td>Middle</td>
            <td>Stand with your legs apart so Phoebe can stand or lie down between your legs</td>
        </tr>
        <tr>
            <td>Tuck</td>
            <td>Sit on a chair or bench, and cue Phoebe to lie down underneath</td>
        </tr>
        <tr>
            <td>Okay</td>
            <td>This is used as a release cue; we also use "all done"</td>
        </tr>
        <tr>
            <td>This way</td>
            <td>Indicates she should follow whatever direction you're heading</td>
        </tr>
        <tr>
            <td>Turn</td>
            <td>Toss a treat away from you and as soon as Phoebe gets the treat and is still facing away from you, say "turn", indicating that Phoebe should turn back towards you and return (great to use on walks around distractions)</td>
        </tr>
        <tr>
            <td>With me</td>
            <td>Indicates Phoebe should walk alongside you</td>
        </tr>
        <tr>
            <td>Let's cross</td>
            <td>Indicates we're going to cross the street</td>
        </tr>
        <tr>
            <td>Cookie</td>
            <td>Phoebe knows that any treat larger than a training treat or her kibble is referred to as a "cookie" so we use this as a cue to indicate if she comes to us, she'll "get a cookie"</td>
        </tr>
    </table>
</body>

</html>